<style>
    /* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.card{
    margin-bottom:20px;
    border:none;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
} */
.cont{
    width: 100%;
    height: 100vh;
    background-image:url(https://cdn.pixabay.com/photo/2017/07/15/19/42/train-track-2507499_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
   
    
}
.card{
    width: 300px;
    height:300px;
    position: relative;
    top: 120px;
    left: 35px;
    background-color: rgba(255,255,255,0.2);
   
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column  ;
}
.heading{
    display: flex;
    justify-content: center;
    height: 20%;
}

.content{
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;

}

.content >  input{

    width: 250px;
    height: 35px;
    margin-bottom: 25px;
    border: none;
    border-radius: 25px;
    background-color: rgba(44, 81, 40, 0.6);
    color: white;
    text-align: center;
  
}

.content > input::placeholder{
    color: white;
    

}

.content> .button{
    background-color: aqua;
    width: 95px;
    height: 40px;
    border: none;
    border-radius: 35px;
    font-weight: bold;
}

</style>



    <!-- <div class="cont">

         <div class="row"> 
            <div class="col-md-6"> 
                <div class="card"> 
                    <form class="box" #form="ngForm">
                        <div class="heading">
                            <h1>Login</h1>
                        </div>
                        <div class="content">
                            <input type="email" id="useremail" placeholder="Username" name="email" [(ngModel)]="email"> 
                            <input type="password" id="userpass" placeholder="Password" name="pass" [(ngModel)]="pass"> 
                            <input class="button" type="submit" name="" value="Login" (click)="onvalidate()"> 
                        </div>
                     
                    </form> 
                </div>
            </div>
        </div>
    </div>
 -->


 <div class="cont">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form [formGroup]="form" (ngSubmit)="onValidate()">
            <div class="heading">
              <h1>Login</h1>
            </div>
            <div class="content">
              <input 
                type="email" 
                id="useremail" 
                placeholder="Username" 
                formControlName="email">
              <div *ngIf="submitted && f['email'].errors" class="error" style="color: red;">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Invalid email format</div>
              </div>
  
              <input 
                type="password" 
                id="userpass" 
                placeholder="Password" 
                formControlName="password">
              <div *ngIf="submitted && f['password'].errors" class="error" style="color: red;">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
              </div>
  
              <input 
                class="button" 
                type="submit" 
                name="" 
                value="Login">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  